nav.navbar.navbar-light.bg-faded
  .container
    a.navbar-brand(ui-sref="adquisicion") Rentabilidad del Cliente
    .float-md-right
      .nav.navbar-nav
        a.nav-item.nav-link(ui-sref="adquisicion", ui-sref-active="active") CPA
        a.nav-item.nav-link(ui-sref="lifetime", ui-sref-active="active") CLV
        a.nav-item.nav-link(ui-sref="retencion", ui-sref-active="active") CPR
        a.nav-item.nav-link(ui-sref="rfm", ui-sref-active="active") RFM
