nav.navbar.navbar-light.bg-faded
  a.navbar-brand(ui-sref="adquisicion") Métricas de Mercadotecnia
  .nav.navbar-nav
    a.nav-item.nav-link(ui-sref="adquisicion", ui-sref-active="active") Adquisición
    a.nav-item.nav-link(ui-sref="lifetime", ui-sref-active="active") Lifetime
    a.nav-item.nav-link(ui-sref="retencion", ui-sref-active="active") Retención
    a.nav-item.nav-link(ui-sref="rfm", ui-sref-active="active") RFM
