.row
  .col-md-12
    h1.mb-3 Costo Promedio de Adquisición
.row
  .col-md-4
    form
      .form-group
        label.block Gastos de Adquisición
          input.form-control(type='number', placeholder='Márgen', ng-model="ctrl.gastos")
        small.form-text.text-muted We'll never share your email with anyone else.
      .form-group
        label.block Número de Clientes Adquiridos
          input.form-control(type='number', placeholder='Retención', ng-model="ctrl.numero")
      button.btn.btn-info(type='submit', ng-click="ctrl.cpa(ctrl.gastos, ctrl.numero)")
        | Calcular

  .offset-md-3.col-md-5
    .card.card-block(ng-class="{'card-info' : ctrl.respuesta, 'card-inverse': ctrl.respuesta }")
      h4.card-title Costo Promedio
      p.card-text(ng-if="ctrl.respuesta") {{ ctrl.respuesta | number:2 }}

    .card.card-block
      h4.card-title Fórmula
      p.card-text Costo promedio de adquisición ($) =  gastos de adquisición ($) / número de clientes adquiridos (#)
