.row
  .col-md-12
    h1.mb-3 Costo Promedio de Adquisición
.row
  .col-md-8
    form
      .form-group
        label(for='exampleInputEmail1') Email address
        input#exampleInputEmail1.form-control(type='text', placeholder='Enter email')
        small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
      .form-group
        label(for='exampleInputPassword1') Password
        input#exampleInputPassword1.form-control(type='password', placeholder='Password')

      button.btn.btn-info(type='submit') Submit
  .col-md-4
    .card.card-block.card-info.card-inverse
      h4.card-title Costo Promedio
      p.card-text Chingos de varos

    .card.card-block
      h4.card-title Fórmula
      p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
