.row
  .col-md-9
    h1.mb-3 Customer Lifetime Value
  .col-md-3
    img(src='assets/images/upaep.png' alt="Logo de la UPAEP")
.row
  .col-md-4
    form(novalidate)
      .form-group
        label.block Márgen
          .input-group
            span.input-group-addon $
            input.form-control(type='number', placeholder='Márgen', ng-model="ctrl.margen")
      .form-group
        label.block Índice de Retención
          .input-group
            input.form-control(type='number', placeholder='Índice de Retención', ng-model="ctrl.retencion")
            span.input-group-addon %
      .form-group
        label.block Índice de Descuento
          .input-group
            input.form-control(type='number', placeholder='Índice de Descuento', ng-model="ctrl.descuento")
            span.input-group-addon %

      button.btn.btn-info(ng-click="ctrl.clv(ctrl.margen, ctrl.retencion, ctrl.descuento)") Calcular


  .offset-md-3.col-md-5
    .card.card-block(ng-class="{'card-info' : ctrl.respuesta, 'card-inverse': ctrl.respuesta }")
      h4.card-title Costo Promedio
      p.card-text {{ctrl.respuesta | number:2}}

    .card.card-block
      h4.card-title Fórmula
      p.card-text CLV ($)= Margen ($) (Indice de retencion (%) / (1+Indice de descuento (%) - Indice de retencion (%))
