.row
  .col-md-12
    h1.mb-3 Customer Lifetime Value
.row
  .col-md-4
    form(novalidate)
      .form-group
        label.block Márgen
          input.form-control(type='number', placeholder='Márgen', ng-model="ctrl.margen")
        //- small.form-text.text-muted We'll never share your email with anyone else.
      .form-group
        label.block Índice de Retención
          input.form-control(type='number', placeholder='Retención', ng-model="ctrl.retencion")
      .form-group
        label.block Índice de Descuento
          input.form-control(type='number', placeholder='Descuento', ng-model="ctrl.descuento")

      button.btn.btn-info(ng-click="ctrl.clv(ctrl.margen, ctrl.retencion, ctrl.descuento)") Calcular


  .offset-md-3.col-md-5
    .card.card-block(ng-class="{'card-info' : ctrl.respuesta, 'card-inverse': ctrl.respuesta }")
      h4.card-title Costo Promedio
      p.card-text {{ctrl.respuesta | number:2}}

    .card.card-block
      h4.card-title Fórmula
      p.card-text CLV ($)= Margen ($) (Indice de retencion (%) / (1+Indice de descuento (%) - Indice de retencion (%))
