.row
  .col-md-9
    h1.mb-3 Modelo RFM
  .col-md-3
    img(src='assets/images/upaep.png' alt="Logo de la UPAEP")

.row
  .col-md-8
    .table-responsive
      table.table.table-sm.table-hover.table-striped
        thead
          tr.table-success
            th Nombre
            th Recencia de Compra
            th Puntos Asignados
            th Puntos Ponderados
        tbody
          tr(ng-repeat="dato in ctrl.datos")
            td: input(type='text', placeholder="Nombre", ng-model="dato.nombre")
            td: input(type='number', placeholder="Meses", ng-model="dato.recency")
            td {{dato.puntos = ctrl.recencyPuntos(dato.recency)}}
            td {{ctrl.ponderados(dato.puntos)}}

    .table-responsive
      table.table.table-sm.table-hover.table-striped
        thead
          tr.table-success
            th Nombre
            th Frecuencia de Compra
            th Puntos Asignados
            th Puntos Ponderados
        tbody.table-hover
          tr(ng-repeat="dato in ctrl.datos")
            td {{dato.nombre}}
            td: input(type='number', placeholder="Frecuencia", ng-model="dato.frecuencia")
            td {{dato.asignados2}}
            td {{dato.ponderados2}}

    .table-responsive
      table.table.table-sm.table-hover.table-striped
        thead
          tr.table-success
            th Nombre
            th Monto de Compra
            th Puntos Asignados
            th Puntos Ponderados
        tbody.table-hover
          tr(ng-repeat="dato in ctrl.datos")
            td {{dato.nombre}}
            td: input(type='number', placeholder="Frecuencia", ng-model="dato.monetary")
            td {{dato.asignados3}}
            td {{dato.ponderados3}}

    .table-responsive
      table.table.table-sm.table-hover.table-striped
        thead
          tr.table-danger
            th Nombre
            th Valor de Cliente
        tbody.table-hover
          tr(ng-repeat="dato in ctrl.datos")
            td {{dato.nombre}}
            td {{dato.valorCliente}}

  .col-md-4
    .card.card-block
      h4.card-title Cliente
      button.btn.btn-info(type='submit', ng-click="ctrl.otroDemo()")
        | Agregar nuevo


.row.mt-3
  .col-md-12
    .card-deck-wrapper
      .card-deck
        .card.card-block
          h4.card-title Recency (Meses)
          .form-group
            label.block 0 a 3
              input.form-control(type="number", ng-model="ctrl.recencyAsignado1")
          .form-group
            label.block 4 a 6
              input.form-control(type="number", ng-model="ctrl.recencyAsignado2")
          .form-group
            label.block 7 a 12
              input.form-control(type="number", ng-model="ctrl.recencyAsignado3")
          .form-group.has-success
            label.block R
              input.form-control(type="number", ng-model="ctrl.R")


        .card.card-block
          h4.card-title Frecuencia
          .form-group
            label.block Frecuencia Asignada (f)
              input.form-control(type="number", ng-model="ctrl.frecuencyAsignado")
          .form-group.has-success
            label.block F
              input.form-control(type="number", ng-model="ctrl.F")
          .form-group.has-warning
            label.block Límite de Frecuencia
              input.form-control(type="number", ng-model="ctrl.frecuencyLimite")

        .card.card-block
          h4.card-title Monto
          .form-group
            label.block Monto Asignado (m)
              input.form-control(type="number", ng-model="ctrl.montoAsignado")
          .form-group.has-success
            label.block M
              input.form-control(type="number", ng-model="ctrl.M")
          .form-group.has-warning
            label.block Límite de Monto
              input.form-control(type="number", ng-model="ctrl.montoLimite")
